<main style="margin-top: 32px;">
  <div style="display: flex; flex-wrap: wrap; gap: 16px;" *ngIf="recipes?.length; else def">
    <app-recipe *ngFor="let recipe of recipes"
                [name]="recipe.name"
                [image]="recipe.image"
                [description]="recipe.description"
                [recipeUserId]="recipe.userId"
                [userId]="authService.getCurrentUserId"
                [id]="recipe.id"
                [favArray]="fav"
                (recipeRemoved)="removeRecipeFromList($event)" />
  </div>
  <ng-template #def>No recipe found</ng-template>
</main>
