/* You can add global styles to this file, and also import other style files */
@use "@picocss/pico/scss/pico";
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

:root {
  --pinkish: #ff7373;
}

* {
  font-family: "Roboto", sans-serif;
}


.router {
  text-decoration: none;
  position: relative;
  cursor: pointer;
}


.router::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 1%;
  top: 82%;
  border-radius: 100px;
  background: linear-gradient(to right, transparent, cyan, var(--pinkish), transparent);
  transition: 0.2s ease-in-out;
}

.router:hover::before {
  width: 100%;
}
